parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
    ignoreErrors:
        - "#\\\\Entity\\\\.* is never written, only read#"
        - "#\\\\Entity\\\\.* is never read, only written#"
        - "#^Property .*\\\\Entity\\\\.* is unused#"
