{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="text-center page-header">
                    <div>
                        <img src="https://pbs.twimg.com/media/B6dVMHzCYAASEhm.jpg" />
                    </div>

                    <h1>Carson: The Issue Butler</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Repository</th>
                                <th>Needs Review issues &amp; pull requests</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for repository in repositories %}
                                <tr>
                                    <td>{{ repository.vendor }}/{{ repository.name }}</td>
                                    <td>
                                        <a href="{{ repository.needsReviewUrl }}" class="btn btn-xs btn-default">Needs Review Issues</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
