parameters:
    # token used to update labels on the repository, etc
    github_token: XXX

    # defines symfony repository as default
    default_repository: symfony/symfony

    # point to the main symfony repositories
    repositories:
        symfony/symfony:
            listeners:
                - AppBundle\Listener\SymfonyIssueListener
            secret: change_me
        symfony/symfony-docs:
            listeners:
                 - AppBundle\Listener\SymfonyDocsIssueListener
